<div class="container">
  <h2>Signals</h2>

  <div class="controls">
    <div class="button-group">
      <button (click)="increment()">Növelés</button>
      <button (click)="decrement()">Csökkentés</button>
      <button (click)="reset()">Reset</button>
      <button (click)="toggleStatus()">Státusz váltás</button>
    </div>
    <p>Aktuális érték: {{ count() }}</p>
    <p>Ez a szám {{ parity() }}.</p>
    <p>Státusz: {{ status() }}</p>
  </div>

  <button routerLink="/" class="back-button">Vissza a főoldalra</button>
</div>
